<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}

<script src="catalog/view/theme/eshop/javascript/jquery.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/eshop/plugin/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="catalog/view/theme/eshop/plugin/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/eshop/plugin/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/eshop/plugin/slick/slick.css" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/eshop/plugin/slick/slick-theme.css" rel="stylesheet" type="text/css" />
<script src="catalog/view/theme/eshop/plugin/slick/slick.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/eshop/plugin/zoom/jquery.zoom.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/eshop/stylesheet/stylesheet.css" rel="stylesheet" type="text/css" >
<script src="catalog/view/theme/eshop/javascript/main.js" type="text/javascript"></script>
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,wght@500" rel="stylesheet" type="text/css" />
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/theme/eshop/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<header>
<!-- top Header -->
    <div id="top-header">
      <div class="container">
        <div class="pull-left">
          <span>Welcome to E-shop! </span> || <span class="hidden-xs hidden-sm hidden-md"><i class="fa fa-phone"></i>{{ telephone }}</span>
        </div>
        <div class="pull-right">
          <ul class="header-top-links">
            <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
            <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
            <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
            {{ language }}
            {{ currency }}
          </ul>
        </div>
      </div>
    </div>
    <!-- /top Header -->
    <!-- header -->
    <div id="header">
      <div class="container">
        <div class="pull-left">
          <!-- Logo -->
          <div class="header-logo">
            {% if logo %}<a href="{{ home }}" class="logo"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a>{% else %}
           <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
          </div>
          <!-- Search -->
          {{ search }}
          <!-- /Search -->
        </div>
        <div class="pull-right">
          <ul class="header-btns">
            <!-- Account -->
            <li class="header-account dropdown default-dropdown">
              <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                <div class="header-btns-icon">
                  <i class="fa fa-user-o"></i>
                </div>
                <strong class="text-uppercase">{{ text_account }} <i class="fa fa-caret-down"></i></strong>
              </div>
              <ul class="custom-menu">
                {% if logged %}
                <li><a href="{{ account }}"><i class="fa-icon fa fa-user-o"></i>{{ text_account }}</a></li>
                <li><a href="{{ order }}"><i class="fa-icon fa fa-check"></i>{{ text_order }}</a></li>
                <li><a href="{{ transaction }}"><i class="fa-icon fa fa-expand"></i>{{ text_transaction }}</a></li>
                <li><a href="{{ download }}"><i class="fa-icon fa fa-download"></i>{{ text_download }}</a></li>
                <li><a href="{{ logout }}"><i class="fa-icon fa fa-sign-out"></i>{{ text_logout }}</a></li>
                {% else %}
                <li><a href="{{ register }}"><i class="fa-icon fa fa-user-plus"></i>{{ text_register }}</a></li>
                <li><a href="{{ login }}"><i class="fa-icon fa fa-unlock-alt"></i>{{ text_login }}</a></li>
                {% endif %}
              </ul>
            </li>
            <!-- /Account -->
            <!-- Cart -->
              {{ cart }}
            <!-- /Cart -->
            <!-- Mobile nav toggle-->
            <li class="nav-toggle">
              <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
            </li>
            <!-- / Mobile nav toggle -->
          </ul>
        </div>
      </div>
      <!-- header -->
    </div>
</header>
{{ menu }}

