<!-- NAVIGATION -->
{% if categories %}
  <div id="navigation">
    <!-- container -->
    <div class="container">
      <div id="responsive-nav">
        <!-- category nav -->
        <div class="category-nav show-on-click">
          <span class="category-header">Categories <i class="fa fa-list"></i></span>
          <ul class="category-list">
          {% for category in categories %}
            {% if category.children %}
            <li class="dropdown side-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ category.name }} <i class="fa fa-angle-right"></i></a>
              <div class="custom-menu">
                <div class="row">
                  <div class="col-md-12">
                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    <ul class="list-links">
                       {% for child in children %}
                         <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr/>
                    <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
                    {% endfor %}
                    <hr class="hidden-md hidden-lg">
                  </div>
                </div>
              </div>
            </li>
             {% else %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <!-- /category nav -->

        <!-- menu nav -->
        <div class="menu-nav">
          <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
          <ul class="menu-list">
            <li><a href="#">Home</a></li>
            <li><a href="{{ special }}">{{ text_special }}</a></li>
            <li><a href="{{ manufacturer }}">Brands</a></li>
            <li><a href="{{ compare }}">Compare</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="{{ contact }}">Contact</a></li>
          </ul>
        </div>
        <!-- menu nav -->
      </div>
    </div>
  </div>
  {% endif %} 
  <!-- /NAVIGATION -->
