<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="title">{{ heading_title }}</h2>
          </div>
        </div>
        <!-- Product Single -->
        {% for product in products %}
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single">
            <div class="product-thumb">
              <div class="product-label">
               {{ product.top_selling }}
                {% if product.price %}
                    {% if product.special %}
                      <span class="sale">- {{ product.percent }}</span>
                    {% endif %}  
                {% endif %} 
                
              </div>
              <a class="main-btn quick-view" href="{{ product.href }}"><i class="fa fa-search-plus"></i> View</a>
              <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block"></a>
            </div>
            <div class="product-body">
              {% if product.price %}
                  {% if not product.special %}
                 <h3 class="product-price"> {{ product.price }}</h3>
                  {% else %}
                 <h3 class="product-price"> {{ product.special }} <del class="product-old-price">{{ product.price }}</del></h3> {% endif %} 
              {% endif %} 
              {% if product.rating %}
                <div class="product-rating">
                  {% for i in 1..5 %}
                    {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} 
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}
              <h2 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h2>
              <div class="product-btns">
                <button class="main-btn icon-btn" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button class="main-btn icon-btn" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                <button class="primary-btn add-to-cart" onclick="cart.add('{{ product.product_id }}');"><i class="fa-icon fa fa-shopping-cart"></i>{{ button_cart }}</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
        <!-- /Product Single -->
      </div>
    </div>
