<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="title">{{ heading_title }}</h2>
          </div>
        </div>
        <!-- Product Single -->
        {% for product in products %}
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="product product-single product-special">
            <div class="product-thumb">
              <div class="product-label">
                {% if product.price %}
                    {% if product.special %}
                      <span class="sale">- {{ product.discount }}</span>
                    {% endif %}  
                {% endif %} 
              </div>
              <a class="main-btn quick-view" href="{{ product.href }}"><i class="fa fa-search-plus"></i> View</a>
              <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block"></a>
                
              {% if product.special_countdown %}
              {% if product.special_countdown != '0000-00-00' %}
                <ul class="product-countdown">
                    <li><span id="timer_day_{{ product.product_id }}"></span></li>
                    <li><span id="timer_hour_{{ product.product_id }}"></span></li>
                    <li><span id="timer_minute_{{ product.product_id }}"></span></li>
                    <li><span id="timer_second_{{ product.product_id }}"></span></li>
                </ul>
               <script>
                var setint = setInterval(function() {
                var times = new Date("{{ product.special_countdown }} 23:00:00").getTime() - new Date().getTime();
                var days = Math.floor(times / (1000 * 60 * 60 * 24));
                var hours = Math.floor((times % (1000 * 60 * 60 * 24))/(1000 * 60 * 60));
                var minutes = Math.floor((times % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((times % (1000 * 60)) / 1000);
                document.getElementById("timer_day_{{ product.product_id }}").innerHTML = days + " D";
                document.getElementById("timer_hour_{{ product.product_id }}").innerHTML = hours + " H";
                document.getElementById("timer_minute_{{ product.product_id }}").innerHTML = minutes + " M";
                 document.getElementById("timer_second_{{ product.product_id }}").innerHTML = seconds + " S";

                }, 0);
            
                </script>

              {% endif %}
            {% endif %} 

            </div>
            
            <div class="product-body">   
              {% if product.price %}
                  {% if not product.special %}
                 <h3 class="product-price"> {{ product.price }}</h3>
                  {% else %}
                 <h3 class="product-price"> {{ product.special }} <del class="product-old-price">{{ product.price }}</del></h3> {% endif %} 
              {% endif %} 
              {% if product.rating %}
                <div class="product-rating">
                  {% for i in 1..5 %}
                    {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} 
                      <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}
              <h2 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h2>
              <div class="product-btns">
                <button class="main-btn icon-btn" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button class="main-btn icon-btn" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                <button class="primary-btn add-to-cart" onclick="cart.add('{{ product.product_id }}');"><i class="fa-icon fa fa-shopping-cart"></i>{{ button_cart }}</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
        <!-- /Product Single -->
      </div>
    </div>
